/*? Default Style */

/*? Font Vazir */
@font-face {
  font-family: "VazirB";
  src: url("../fonts/Vazir-Bold-FD.eot"); /*? IE9 Compat Modes */
  src: url("../fonts/Vazir-Bold-FD.eot") format("embedded-opentype"),
    /*? IE6-IE8 */ url("../fonts/Vazir-Bold-FD.woff2") format("woff2"),
    /*? Super Modern Browsers */ url("../fonts/Vazir-Bold-FD.woff")
      format("woff"),
    /*? Pretty Modern Browsers */ url("../fonts/Vazir-Bold-FD.woff")
      format("truetype"); /*? Safari, Android, iOS */
  /*url('webfont.svg#svgFontName') format('svg'); !* Legacy iOS *!*/
}

body {
  font-family: "VazirB" !important;
}
